@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global";
@use "../../styles/partials/mixins" as *;

.tag {
    background-color: $secondary-white;
    border: 3px solid $secondary-sea-green;
    border-radius: 5px;
    color: $primary-black;
    
  
    &--clickable {
      cursor: pointer;
      &:hover {
        background-color:$primary-forest-green;
        color: $secondary-white;
      }
    }
  
    &--selected {
      background-color: darkgreen;
      color: whitesmoke;
    }
  }
  