@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global";
@use "../../styles/partials/mixins" as *;

.tag {
    background-color: $secondary-color-3;
    border: 3px solid $secondary-color-1;
    border-radius: 5px;
    color: $primary-color-1;
    
  
    &--clickable {
      cursor: pointer;
      &:hover {
        background-color:$primary-color-2;
        color: $secondary-color-3;
      }
    }
  
    &--selected {
      background-color: $primary-color-2;
      color: $secondary-color-3;
    }
  }
  