@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography";

.comment-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
    margin-top: -5rem;
    justify-self: center;

    @include desktop {
        width: 73%;
    }
}

.comment-form input,
.comment-form textarea {

    padding: 8px;
    border: 2px solid $secondary-color-1;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem 0;
    min-height: 30px;
    min-width: 280px;
    width: 100%;
    @include tablet {
        padding: 8px 16px;
        min-height: 40px;
    }

    &:focus {
        border-color: $primary-color-2;
    }
    &:invalid {
        border-color: $secondary-color-1;
    }

    &.error {
        border-color: #B10606 !important;
    }
}
.comment-form textarea {
    height: 90px;
}

label {
    @include body-copy-mobile;
    margin-top: 1rem;
    margin-bottom: 8px;

    @include tablet {
        @include body-copy-tablet;
    }
}

.comment-form button {
    width: 5rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: $primary-color-2;
    color: white;
    cursor: pointer;
    align-self: flex-end;
    @include label-mobile;

    @include tablet {
        @include label-tablet;
    }
}