$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1280px;

$primary-color-1: #0c1e1a;
$primary-color-2: #1e6655;
$primary-color-3: #effaf7;
$secondary-color-1: #b7cec9;
$secondary-color-2:#e4efec;
$secondary-color-3: #ffffff;
