$tablet-width: 768px;
$desktop-width: 1280px;

$primary-black: #0c1e1a;
$primary-forest-green: #1e6655;
$primary-pistachio: #effaf7;
$secondary-sea-green: #b7cec9;
$secondary-sage:#e4efec;
$secondary-white: #ffffff;
