@use "../../styles/partials/global";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.app__nav-container {
   position: fixed;
   margin-left: -2rem;
  top: 0rem;
  background-color: $primary-color-3;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
}
.app__header-link {
  text-decoration: none;
  color: inherit;
}


.app__header {
  margin-left: 2rem;
  @include title-mobile;

  @include tablet {
    @include title-tablet;  
  }
}

.app__filter {
  justify-content: space-between;
  margin-right: 1rem;
}