@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.comments-list {
    margin-top: 1rem;
    width: 90vw;
    justify-self: anchor-center;
    @include desktop{
        width: 66vw;
    }
}
.comments-count{

    margin-bottom: -1rem;
    @include body-copy-mobile;
    @include tablet{
        @include body-copy-tablet;
    }
    @include desktop{
        margin-left: 1rem;
    }
}
.comments-container{
    width: 86vw;
    justify-self: anchor-center;
    @include tablet{
        width: 88vw;
    }
    @include desktop{
    width: 75%;
    }
}
.comment__description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.comment {
    padding: 10px;
}
.divider {
    height: 3px;
    background: $secondary-color-1;
    border: 0;
  }

.comment-text {
    margin-top: 5px;
    margin-bottom: 5px;
    color: $primary-color-1;
    @include body-copy-mobile;
    @include tablet{
        @include body-copy-tablet;
    }
}

.comment-date, .comment-name {
    color: $primary-color-2;
    font-weight: bold;
    @include label-mobile;
    @include tablet{
        @include label-tablet;
        font-weight: bold;
    }
}