@use "./styles/partials/global";
@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

.main__body{
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  @include desktop{
    display: flex;
    flex-direction: row-reverse !important;
    flex-wrap: nowrap !important;
  }
}
.app {
  display: flex;
  flex-direction: column;
  
  &__nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: anchor-center;
  }
  &__header{
    @include title-mobile;

    @include tablet{
      @include title-tablet;
    }
  }
  &__filter{
    justify-content:space-between ;
    }
  
  &__content {
    display: flex;
    flex-direction: column;

    @include desktop {
      flex-direction: row-reverse;
      justify-content: flex-end;
      gap: 4rem;
      
    }
  }
  &__body{
    margin-right: -2rem;
    @include desktop {
      &.drawer-open {
        margin-right: 2rem !important;
      }
      &.drawer-closed {
        margin-right: 0rem !important;
      }
}
}
}

.drawer {
  display: none;
  
  &--open {
    display: flex    ;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2rem;
    margin: 0rem -2rem;
    background-color: $secondary-color-2;
     @include desktop {
      width: 32vw;
       }
  }
}

.photo-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  @include desktop {
    flex: 1;
    gap: 1rem;
    padding: 1rem;
  }
  &.drawer-open {
    margin-left: -2rem !important; 
  }

  &.drawer-closed {
    margin-left: -2rem !important; 
  }
}
.filter-icon{
  width: 20px;
  height: 20px;
  margin-top: 2px;
  @include tablet{
    width: 26px;
    margin-top: 3px;
  }
  
}