@use "./styles/partials/global";
@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

.app {
  display: flex;
  flex-direction: column;

  &__filter{
    justify-content:space-between ;
    }
  &__filter-button
  {
    padding: 8px 16px;
    border: 3px solid $primary-forest-green;
    border-radius: 20px;
    background-color: $secondary-white;
    color: $primary-forest-green
  }
  &__content {
    display: flex;
    flex-direction: column;

    @include desktop {
      flex-direction: row-reverse;
      justify-content: flex-end;
      gap: 4rem;
    }
  }

}


.drawer {
  display: none;
  

  @include desktop {
    width: 400px;
  }

  &--open {
    display: block;
  }
}

.photo-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  @include desktop {
    flex: 1;
  }
}
.filter-icon{
  width: 20px;
  height: 20px;
}